@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    margin: 0;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

.p-content {
    margin: 0;
    color: #161616;
    font-family: "Inter";
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


/* Header */
.header{
    width: 100%;
    text-align: center;
}

.menu {
    display: inline-block;
}

.list{
    margin: 32px auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 72px;
}

.list-link {
    color: #161616;
    text-decoration: none;
}

/* main */

/* .block-image{
    padding: 92px 0px;
    background-color: #00BDC9;
    text-align: center;
} */

/* .block-content {

} */

.image {
    display: block;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 92px;
    width: 100%;
    height: 368px;
    background-color: #00BDC9;
}

.block-content{
    width: 856px;
    margin: 0 auto;
    padding: 88px 0;
}
/* .content-title{
    margin: 0;
    text-align: center;
} */
.block-content .p-content {
    margin-top: 40px;
    margin-bottom: 0px;
}

.p-content span{
    color: #04959E;
    font-weight: 600;
}

.list-content {
    padding-left: 20px;
    margin-top: 24px;
}

/* Button */
/* .button-block{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 40px;
} */

.button{
    margin: 0 auto;
    display: block;
    width: max-content;
    text-align: center;
    padding: 10px 24px;
    background: #04959E;
}
.button p{
    margin: 0;
    color: #E0E0E0;
}

/* footer */
footer{
    margin: 0 auto;
    padding: 16px 0px;
    text-align: center;
    border-top: #161616 solid 1px
}

footer p {
    margin: 0;
}